# Dependabot configuration for keeping dependencies updated
# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  # Python dependencies (requirements.txt)
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
    open-pull-requests-limit: 5
    reviewers:
      - "mvadari"
    commit-message:
      prefix: "deps"
      include: "scope"
    
  # GitHub Actions dependencies  
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly" 
      day: "monday"
      time: "09:00"
    open-pull-requests-limit: 5
    reviewers:
      - "mvadari"
    commit-message:
      prefix: "ci"
      include: "scope"